@{
    ViewData["Title"] = "Add Book";
}

@model Book

<h1>@ViewData["Title"]</h1>

<form asp-asp-controller="Library" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Загрузите обложку</label>
        <input class="form-control" type="file" name="Image" id="formFile">
    </div>
	<div class="form-group">
		<label asp-for="CategoryId"></label>
		<select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select" aria-label="Default select example">
		</select>
	</div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
        <span asp-asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-primary w-25 mt-2">Add</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @* tiny library *@
    <script src="https://cdn.tiny.cloud/1/nybgj490llrcmddyglqbrllp1hu21hpo1jmkoy7ukucdclwq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}